{{ next_data('waline', {
  lang: page.lang | default('zh-CN', true)
}, config.waline, {
  el: '#waline-comments',
  libUrl: config.waline.libUrl | default('https://cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js', true),
  path: url_for(page.path) | replace(r/index\.html$/, ''),
  login: config.waline.login | default('', true),
  dark: config.waline.dark | default('auto', true),
  avatarCDN: config.waline.avatarCDN | default('https://seccdn.libravatar.org/avatar/', true)
}) }}
<script>
document.addEventListener('page:loaded', () => {
  if(!CONFIG.waline.allowUploadImage) {
    CONFIG.waline.uploadImage = false;
  }
  else if(CONFIG.waline.qiniuDomain && CONFIG.waline.qiniuTokenUrl) {
    CONFIG.waline.uploadImage = qiniuUploadImage;
  }
  NexT.utils.loadComments(CONFIG.waline.el).then(() =>
    NexT.utils.getScript(CONFIG.waline.libUrl, { condition: window.Waline })
  ).then(() => {
    new Waline(CONFIG.waline);
  });
});
</script>
